/* Estilo base del body */
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(135deg, #70e1f5, #ffd194);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow-y: auto;
}

/* Encabezado con logo y título */
.encabezado {
  display: flex;
  height: 130px;
  background-color: #0056b3;
  color: white;
  padding: 20px;
}

.contenedor-logo .logo {
  width: 100px;
}

.contenedor-logo {
  display: flex;
}

.contenedor-titulo-logo {
  width: 200px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

/* Contenedor principal */
.contenedor {
  display: flex;
  flex-direction: column;
  width: 98%;
  min-height: 97vh;
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

/* Layout izquierdo - Menú */
.contenedor-principal {
  display: flex;
  height: 70vh;
  
}

.contenedor-izquierdo {
  background: #003366;
  color: white;
  padding: 40px 0px;
  width: 250px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 250px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
  color: white;
}

.menu a {
  font-size: 20px;
}

.menu-item:hover {
  background: #004A93;
  border-radius: 8px;
}

/* Layout derecho - Contenido */
.contenedor-derecho {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.contenedor-derecho h2 {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 30px;
}

/* Botones CRUD */
.contenedor-boton {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.contenedor-boton button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.contenedor-boton button:hover {
  background-color: #0056b3;
}
